.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-table th,
.admin-table td {
    padding: 12px;
    border-bottom: 1px solid #EAC096;
    text-align: left;
}

.suspend-btn {
    background-color: #E56B6F;
    /* Light Coral */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.unsuspend-btn {
    background-color: #355070;
    /* Police Blue */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.role-admin {
    color: #B56576;
    /* China Rose */
    font-weight: bold;
}